<style>
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .signup-form {
    width: 100%; /* Ensure the form takes full width */
  }

  .form-inputs {
    width: 100%; /* Set form inputs to fill the container width */
    margin-bottom: 10px;
  }

  /* Adjust input field width */
  .form-inputs input[type="text"],
  .form-inputs input[type="password"] {
    width: 100%;
  }
</style>

<div class="signup-container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'signup-form' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-outline-primary col-12 mb-2" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
