<style>
  .forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .forgot-password-form {
    width: 100%; /* Ensure the form takes full width */
  }

  .form-inputs {
    width: 100%; /* Set form inputs to fill the container width */
    margin-bottom: 10px;
  }

  /* Adjust input field width */
  .form-inputs input[type="text"] {
    width: 100%;
  }
</style>

<div class="forgot-password-container">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'forgot-password-form' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions", class: "btn btn-outline-warning col-12 mb-2" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
