<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="padding-bottom: 10px; position: fixed; top: 0; width: 100%; background-color: white;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="navbarSupportedContent" aria-labelledby="navbarSupportedContentLabel" style="width: 40%;">
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto flex-column"> <!-- Align items vertically -->
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa fa-home" style="margin-right: 8px"></i>
                Home
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa-solid fa-list" style="margin-right: 10px"></i>
                Menu
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 10px"></i>
                Log out
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="navbar-cart">
      <%= link_to "#" do %>
        <%= image_tag "https://static.vecteezy.com/system/resources/thumbnails/004/798/846/small/shopping-cart-logo-or-icon-design-vector.jpg" %>
      <% end %>
    </div>
    <div>
      <i class="fa" style="font-size:24px">&#xf07a;</i>
      <span class='badge badge-warning' id='lblCartCount'> 0 </span>
    </div>
  </div>
</nav>
