<div style="height: 200px">Spacer</div>
<%= simple_form_for :order, url: update_address_path(id: @order.id) do |f| %>

  <div class="form-inputs">
    <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
    <%= f.input :longitude, as: :hidden %>
    <%= f.input :latitude, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
