<div class="container text-center mt-5 mb-5">
  <h3> <strong>Checkout</strong> </h3>
</div>

<%= simple_form_for :order, url: update_address_path(id: @order.id) do |f| %>

<div class="container mb-5">
  <div class="form-inputs">
    <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
    <%= f.input :longitude, as: :hidden %>
    <%= f.input :latitude, as: :hidden %>
  </div>

  <div class="container border border-info">
    <h4 class="my-5 text-center p-3 border-bottom border-dark"> <strong>Order #</strong> <%= @order.id %></h4>
    <h5 class="my-4 font-weight-bold">Order Summary:</h5>
    <div class="row">
      <% @order.order_items.each do |order_item| %>
      <div class="col-6 text-right">
        <h6> <%= order_item.item.name %>: </h6>
      </div>
      <div class="col-6">
        <h6><%= order_item.quantity %></h6>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container border border-info mt-4">
    <div class="my-4">
      <div class="row">
        <div class="col-6">
          <h5> <strong>Total items: </strong></h5>
        </div>
        <div class="col-6">
          <h5><%= @total_quantity  %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h5> <strong>Total: </strong></h5>
        </div>
        <div class="col-6">
          <h5><%= @order.total_price.to_i %> 000</h5>
        </div>
      </div>
    </div>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Confirm Order", class: 'btn btn-custom w-100 mt-2' %>
  </div>
  <% end %>
</div>
