<div class="container p-2">
  <p class="tracking-title">Order  #<%= @order.id %> : <strong style="color: #e0b531;"><%= @order.status %></strong></p>
  <div style="width: 100%; height: 400px;"
    data-controller="track-map"
    data-track-map-order-marker-value="<%= @order_marker %>"
    data-track-is-driver-value="<%= current_user.is_driver? %>"
    data-track-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="<%= 'd-none' if current_user.is_driver? %>">
      <div class="card p-2 mt-1">

        <div class="badge-track p-2">
              <div><span class="badge m-2 rounded-pill text-bg-secondary text-end">Order sent to the restaurant at  <%= @order.created_at.strftime("%r") %></span></div>
                 <% if @order.status == "pending" %>
              <div><span class="badge m-2 rounded-pill bg-secondary text-end">Waiting for restaurant confirmation <%= Time.now.strftime("%r") %></span></div>
              <div class="interval" id="interval"></div>
                   <% elsif @order.status == "in_progress" %>
              <div><span class="badge m-2 rounded-pill bg-secondary text-end"> Order processing <%= Time.now.strftime("%r") %> </span></div>
                   <% elsif @order.status == "out_for_delivery" %>
              <div class="interval" id="interval"></div>
              <div><span class="badge m-2 rounded-pill bg-secondary text-end"> Out for delivery <%= Time.now.strftime("%r") %> </span></div>
                   <% elsif  @order.status == "completed" %>
              <div><span class="badge m-2 rounded-pill text-bg-success text-end">Delivery completed at <%= Time.now.strftime("%r") %></span></div>
                 <% end %>
        </div>
          <hr>
        <div class="track-btn">
          <div class="row 2">
            <div class="col md-6"><button class="btn1 p-2"><%= link_to "Browse Home", items_index_path %></button></div>
            <div class="col md-6"><button class="btn2 p-2"><%= link_to "Order again", orders_path %></button></div>
          </div>
        </div>
              <p class="info p-3"><i class="fa-solid fa-circle-info"></i> If you selected 'Cash' as your payment method, you can sill pay the courier by credit card.</p>
        <div class="card-feedback m-2 p-4">
          <div class="row 2">
              <div class="col"><a href="tel:?"><i class="fa-solid fa-phone" style="color: grey;"></i></a>  Contact Restaurant</div>
              <div class="col"><a href="mailto:your@email.com?subject=Contact Request from Sika Seeker"><i class="fa-solid fa-message" style="color: grey;"></i></a> Order Feedback</div>
          </div>
        </div>

      </div>
    </div>
   <div class="<%= 'd-none' if !current_user.is_driver? %>">
        <div class="card-instructions p-2 m-3">
            <p class="driver-direction">Instructions to your destination</p>
            <div id="time"></div>
            <div id="directions"></div>
            <div class="driver-instructions" id="instructions"></div>
            <h2>📍 <%= @order.address %></h2>
       </div>
  </div>
    <div class="btn3 m-2"><%= link_to "Home", orders_path %></div>

</div>
